[submodule "deps/XBDM"]
	path = deps/XBDM
	url = https://github.com/ClementDreptin/XBDM.git
[submodule "deps/GLFW"]
	path = deps/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "deps/ImGui"]
	path = deps/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/NativeFileDialogExtended"]
	path = deps/NativeFileDialogExtended
	url = https://github.com/btzy/nativefiledialog-extended.git
